.container {
  display: flex;
  justify-content: center;
}

.media {
  display: none;
}
@media screen and (max-width: 1200px) {
  .desktopStyle {
    display: none;
  }
  .container {
    display: flex;
    justify-content: space-between;
    .media {
      display: flex;
      max-width: 100%;
      width: 100%;
    }
  }
}
