.container {
  display: flex;
  justify-content: space-between;
  .navigationList {
    display: flex;
    list-style: none;
    justify-content: center;
    width: 500px;
    gap: 45px;
    color: white;
    a {
      color: white;
      text-decoration: none;
    }
    li {
      font-size: 40px;
    }
  }
}
