.main {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 45px;
  flex-direction: column;
  color: white;

  .lastNews {
    font-size: 56px;
    font-weight: 600;
  }

  .infoBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
    max-width: 900px;
    width: 100%;
    .title {
      margin: 0;
      font-size: 72px;
      span {
        color: transparent;
        background-clip: text;
        letter-spacing: 5px;
        background-image: radial-gradient(
          circle,
          rgba(255, 136, 0, 1) 0%,
          rgba(255, 0, 134, 1) 100%
        );
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main {
    .lastNews {
      font-size: 40px;
      text-align: center;
    }
    .infoBlock {
      .title {
        font-size: 48px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .main {
    .lastNews {
      font-size: 32px;
    }
    .infoBlock {
      .title {
        font-size: 52px;
      }
    }
  }
}
@media screen and (max-width: 426px) {
  .main {
    gap: 20px;
    .infoBlock {
      gap: 20px;
    }
  }
}
@media screen and (max-height: 600px) {
  .main {
    gap: 20px;
    .lastNews {
      font-size: 40px;
    }
    .infoBlock {
      gap: 20px;
    }
  }
}
